<div class = "row">
  <div class = "col-sm-2">
    <h3 class ="text-center mx-1" style="background-color: #d3d3d3;"><b>商品編集</b></h3>
  </div>
</div>
<div class = "row justify-content-center">
  <div class = "col-sm-8">
<%= form_with model: @item, url: admin_item_path(@item.id), method: :patch , local:true do |f| %>
    <div class = "row py-1">
      <div class = "col-3">
        <%= f.label :item_image, "商品画像" %>
      </div>
      <div class = "col-6 pr-0">
        <%= f.file_field :item_image, accept: "image/*" %>
      </div>
    </div>
    <div class = "row py-1">
      <div class = "col-3">
        <%= f.label :name, "商品名" %>
      </div>
      <div class = "col-6 pr-0">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class = "row py-1">
      <div class = "col-3">
        <%= f.label :body, "商品説明" %>
      </div>
      <div class = "col-6 pr-0">
        <%= f.text_area :body, class: 'form-control',style: "height: calc( 1.3em * 8 );line-height: 1.3;" %>
      </div>
    </div>
    <div class = "row py-1">
      <div class = "col-3">
        <%= f.label :genre_id, "ジャンル" %>
      </div>
      <div class = "col-6 pr-0">
        <%= f.collection_select :genre_id, @genre, :id, :name,{prompt: "--選択してください--"}, {class: "form_select select_box_genre"} %>
      </div>
    </div>
    <div class = "row py-1">
      <div class = "col-3">
        <%= f.label :non_tax_price, "税抜価格" %>
      </div>
      <div class = "col-6 pr-0">
        <%= f.text_field :non_tax_price, class: 'form-control' %>
      </div>
      <div class = "col-1 pl-1 pt-2">
        円
      </div>
    </div>
    <div class = "row py-1">
      <div class = "col-3">
        <p>販売ステータス</p>
      </div>
      <div class = "col-6">
        <%= f.radio_button :is_selling, "true" %>
        <%= f.label :is_selling, "販売中" %>
        <%= f.radio_button :is_selling, "false" %>
        <%= f.label :is_selling, "販売停止中" %>
      </div>
    </div>
    <div class = "row py-1">
      <div class = "col-3">
      </div>
      <div class = "col-6">
        <%= f.submit "変更を保存", class: 'btn btn-success font-weight-bold' %>
      </div>
    </div>
<% end %>
 </div>
</div>