<div class = "container">
  <div class = "row">
    <div class = "col">
      <h2>商品編集</h2>
    </div>
    <div class = "col">
      <p><%= render 'error', item: @item %></p>
    </div>
  </div>
  <%= form_with model: @item,url: admin_items_path, local:true do |f| %>
  <div class = "row">
    <div class = "col-2">
      <p>商品画像</p>
    </div>
    <div class = "col-4">
      <%= f.file_field :item_image, accept: "image/*" %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-2">
      <p>商品名</p>
    </div>
    <div class = "col-4">
      <%= f.text_field :name, placeholder: "商品名", class: 'form-control' %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-2">
      <p>商品説明</p>
    </div>
    <div class = "col-4">
      <%= f.text_area :body, placeholder: "ここに説明文を記述します", class: 'form-control' %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-2">
      <p>ジャンル</p>
    </div>
    <div class = "col-4">
      <%= f.collection_select :genre_id, @genre, :id, :name, include_blank: "選択して下さい" %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-2">
      税抜価格
    </div>
    <div class = "col-4">
      <%= f.text_field :non_tax_price, placeholder: "1000", class: 'form-control' %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-2">
      <p>販売ステータス</p>
    </div>
    <div class = "col-4">
      <%= f.radio_button :is_selling, "true" %>
      <%= f.label :is_selling, "販売中" %>
      <%= f.radio_button :is_selling, "false" %>
      <%= f.label :is_selling, "販売停止中" %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-2">
    </div>
    <div class = "col-4">
      <%= f.submit class: 'btn btn-success' %>
    </div>
  </div>
  <% end %>
</div>
