<h3>会員一覧</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">会員ID</th>
        <th scope="col">氏名</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">ステータス</th>
      </tr>
    </thead>
  <% @customers.each do |customer| %>
    <tbody>
      <tr>
        <th scope="row"><%= customer.id %></th>
        <td>
          <%= link_to do %>
            <%= customer.family_name %>
            <%= customer.first_name %>
          <% end %>
        </td>
        <td><%= customer.email %></td>
        <td>
          <% if customer.is_active == true %>
            <p class = "text-success">有効</p>
          <% else %>
            <p class = "text-black-50">退会</p>
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
  </table>
    <%= paginate @customers %>





