 <div id="genre_all">
  <h2>ジャンル一覧・追加</h2>
   <%= form_with model: genre, url: admin_genres_path, local: false do |f| %>
      <div class="form_group">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="form_group">
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>
   <% end %>

  <table class='table'>
    <thead>
      <tr>
        <th>ジャンル名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% genres.each do |genres| %>
        <tr>
          <td><%= genres.name %></td>
          <td><%= link_to "編集する", edit_admin_genre_path(genres), class: "btn btn-success" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
 </div>