<div class="row">
  <div class="col-sm-3 mb-3 d-flex justify-content-center">
    <h3 class = "bg-light" style="background-color: #d3d3d3;"><b>配送先編集</b></h3>
  </div>
</div>

  <div class='row'>
    <div class="col-sm-6">
    <div class="col-sm-6">
      <%= render "public/shared/error_messages", resource: @address %>
    </div>
  </div>

<%= form_with model: @address, url: public_address_path, local:true do |f| %>
  <div class="row">
    <%= f.label :postal_code, "郵便番号(ハイフンなし)", class: "col-sm-3 mx-3 my-1" %>
        <%= f.text_field :postal_code, class: "col-sm-2 mx-3 my-1 form-control" %>
        <div class="col-sm-3"></div>

  </div>
  <div class="row">
      <%= f.label :address, "住所", class: "col-sm-3 mx-3 my-1" %>
        <%= f.text_field :address, class: "col-sm-6 mx-3 my-1 form-control" %>
<div class="col-sm-3"></div>
  </div>
  <div class="row">
      <%= f.label :name, "宛名", class: "col-sm-3 mx-3 my-1" %>
        <%= f.text_field :name, class: "col-sm-2 mx-3 my-1 form-control" %>
        <div class="col-sm-4"></div>
    <%= f.submit "変更内容を保存", class: "btn btn-success" %>
  </div>
<% end %>
