<div class="row">
  <div class="col-sm-4 d-flex align-items-center justify-content-center mb-3">
    <h4 class="col-sm-8 m-0 text-center" style="background-color: #d3d3d3;">注文情報入力</h4>
  </div>
</div>

<%= form_with model: @order, url: public_orders_check_path, method: :post do |f| %>
  <%= f.hidden_field :customer_id, value: current_customer.id %>
<h5 class="font-weight-bold">支払方法</h5>
<div class="row">
  <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: true, class: "col-sm-1 my-auto text-end" %>
  <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card], class: "col-sm-3 m-0" %>
</div>
<div class="row mb-2">
  <%= f.radio_button :payment_method, Order.payment_methods.key(1), class: "col-sm-1 my-auto text-end"  %>
  <%= f.label :payment_method, Order.payment_methods_i18n[:transfer], class: "col-sm-3 m-0" %>
</div>

<h5 class="font-weight-bold">お届け先</h5>
  <div class="row">
    <%= f.radio_button :address_info, "0" , checked: true, class: "col-sm-1 my-auto text-end" %>
    <%= f.label :address_info, "ご自身の住所", class: "col-sm-11 m-0 pl-0"%>
  </div>
  <div class="row mb-2">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
      <%= f.label :address_info, "〒" + current_customer.postal_code + current_customer.address, class: "m-0" %></br>
      <%= f.label :address_info, current_customer.family_name + current_customer.first_name, class: "m-0" %>
    </div>
  </div>
  <div class="row">
    <%= f.radio_button :address_info, "1", class: "col-sm-1 my-auto text-end" %>
    <%= f.label :address_info, "登録済住所から選択", class: "col-sm-11 m-0 pl-0" %>
  </div>
  <div class="row mb-2">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
    <%= f.select :address_id, options_from_collection_for_select(@addresses, :id, :view_address_info) %>
    </div>
  </div>
  <div class="row">
    <%= f.radio_button :address_info, "2", class: "col-sm-1 my-auto text-end" %>
    <%= f.label :address_info, "新しいお届け先", class: "col-sm-11 m-0 pl-0" %>
  </div>
  <div class="row mb-1">
      <div class="col-sm-1"></div>
      <%= f.label :postal_code, "郵便番号(ハイフンなし)", class: "col-sm-3 my-auto text-end" %>
      <%= f.text_field :postal_code, class: "col-sm-2 m-0"%>
  </div>
  <div class="row mb-1">
      <div class="col-sm-1"></div>
      <%= f.label :address, "住所", class: "col-sm-3 my-auto text-end" %>
      <%= f.text_field :address, class: "col-sm-5 m-0"%>
  </div>
  <div class="row mb-1">
      <div class="col-sm-1"></div>
      <%= f.label :name, "宛名", class: "col-sm-3 my-auto text-end" %>
      <%= f.text_field :name, class: "col-sm-2 m-0"%>
  </div>
  <div class="row mb-1 justify-content-center">
      <%= f.submit "確定画面へ進む", class: "btn btn-primary col-sm-2"  %>
  </div>
<% end %>