<div class='container'>
  <h2>ログイン</h2>
  <h3>会員の方はこちらからログイン</h3> 
  <div class='row'>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row g-3 align-items-center">
      <div class="col-3">
        メールアドレス
      </div>
      <div class="col-1">

      </div>
      <div class="col-3">
        <%= f.email_field :email, class: "email" %>
      </div>
      </div>
    <div class="row g-3 align-items-center">
      <div class="col-3">
        パスワード
      </div>
      <div class="col-1">

      </div>
      <div class="col-3">
        <%= f.password_field :password, autocomplete: "off", class: "password" %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
    <% end %>
    </div>
  </div>

  <%= render "public/shared/links" %> <span>から新規登録を行ってください</span>

</div>
